{
  "openapi": "3.1.0",
  "info": {
    "title": "MOL App V2 API",
    "version": "2.0.0",
    "description": "Kontrakt zaakceptowany w etapie 2. Wszystkie zapisy są idempotentne po request_id."
  },
  "servers": [
    {
      "url": "https://n8n.estyl.team/webhook",
      "description": "n8n — izolowane endpointy V2"
    }
  ],
  "tags": [
    {
      "name": "System"
    },
    {
      "name": "Auth"
    },
    {
      "name": "Worker"
    },
    {
      "name": "Attendance"
    },
    {
      "name": "Processes"
    },
    {
      "name": "Messages"
    },
    {
      "name": "Norms"
    },
    {
      "name": "Leader"
    },
    {
      "name": "Reports"
    }
  ],
  "paths": {
    "/mol-app-v2-health": {
      "get": {
        "tags": [
          "System"
        ],
        "operationId": "health",
        "security": [],
        "responses": {
          "200": {
            "$ref": "#/components/responses/HealthOk"
          }
        }
      }
    },
    "/mol-app-v2-auth-login": {
      "post": {
        "tags": [
          "Auth"
        ],
        "operationId": "login",
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LoginRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Sesja utworzona",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LoginResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "401": {
            "$ref": "#/components/responses/Error"
          },
          "409": {
            "$ref": "#/components/responses/Error"
          },
          "429": {
            "$ref": "#/components/responses/Error"
          },
          "503": {
            "$ref": "#/components/responses/Error"
          }
        },
        "description": "PBKDF2-SHA256, 600000 iteracji; 5 nieudanych prób / 15 minut; sesja 12 godzin. Powtórzenie tego samego request_id i poprawnego hasła zwraca identyczną zaszyfrowaną wcześniej odpowiedź, bez tworzenia dodatkowej sesji. Sesja wygasła lub unieważniona nie jest wznawiana."
      }
    },
    "/mol-app-v2-auth-logout": {
      "post": {
        "tags": [
          "Auth"
        ],
        "operationId": "logout",
        "requestBody": {
          "$ref": "#/components/requestBodies/Command"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/CommandOk"
          },
          "401": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/mol-app-v2-worker-status": {
      "get": {
        "tags": [
          "Worker"
        ],
        "operationId": "workerStatus",
        "responses": {
          "200": {
            "description": "Spójny snapshot ekranu",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WorkerStatusResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/mol-app-v2-config": {
      "get": {
        "tags": [
          "Worker"
        ],
        "operationId": "getConfig",
        "responses": {
          "200": {
            "$ref": "#/components/responses/ObjectOk"
          },
          "401": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/mol-app-v2-attendance-start": {
      "$ref": "#/components/pathItems/AttendanceStart"
    },
    "/mol-app-v2-attendance-finish": {
      "$ref": "#/components/pathItems/AttendanceFinish"
    },
    "/mol-app-v2-attendance-reopen": {
      "$ref": "#/components/pathItems/AttendanceReopen"
    },
    "/mol-app-v2-attendance-correct": {
      "post": {
        "tags": [
          "Attendance"
        ],
        "operationId": "correctAttendance",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AttendanceWriteRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/AttendanceOk"
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "409": {
            "$ref": "#/components/responses/Error"
          },
          "502": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/mol-app-v2-process-start": {
      "$ref": "#/components/pathItems/ProcessStart"
    },
    "/mol-app-v2-process-change": {
      "$ref": "#/components/pathItems/ProcessChange"
    },
    "/mol-app-v2-process-logout": {
      "$ref": "#/components/pathItems/ProcessLogout"
    },
    "/mol-app-v2-messages": {
      "get": {
        "tags": [
          "Messages"
        ],
        "operationId": "listMessages",
        "parameters": [
          {
            "$ref": "#/components/parameters/Cursor"
          },
          {
            "$ref": "#/components/parameters/Limit"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/ListOk"
          },
          "401": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/mol-app-v2-message-ack": {
      "post": {
        "tags": [
          "Messages"
        ],
        "operationId": "ackMessage",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MessageAckRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/CommandOk"
          },
          "404": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/mol-app-v2-norms-daily": {
      "get": {
        "tags": [
          "Norms"
        ],
        "operationId": "dailyNorm",
        "parameters": [
          {
            "name": "date",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/NormOk"
          },
          "401": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/mol-app-v2-norms-monthly": {
      "get": {
        "tags": [
          "Norms"
        ],
        "operationId": "monthlyNorm",
        "parameters": [
          {
            "name": "month",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^[0-9]{4}-(0[1-9]|1[0-2])$"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/NormOk"
          },
          "401": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/mol-app-v2-leader-team": {
      "get": {
        "tags": [
          "Leader"
        ],
        "operationId": "leaderTeam",
        "responses": {
          "200": {
            "$ref": "#/components/responses/ListOk"
          },
          "403": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/mol-app-v2-leader-message": {
      "post": {
        "tags": [
          "Leader"
        ],
        "operationId": "sendLeaderMessage",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LeaderMessageRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "$ref": "#/components/responses/CommandOk"
          },
          "403": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/mol-app-v2-employee-history": {
      "get": {
        "tags": [
          "Leader"
        ],
        "operationId": "employeeHistory",
        "parameters": [
          {
            "name": "employee_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/Cursor"
          },
          {
            "$ref": "#/components/parameters/Limit"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/ListOk"
          },
          "403": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/mol-app-v2-report-attendance": {
      "get": {
        "tags": [
          "Reports"
        ],
        "operationId": "attendanceReport",
        "parameters": [
          {
            "$ref": "#/components/parameters/DateFrom"
          },
          {
            "$ref": "#/components/parameters/DateTo"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/ListOk"
          },
          "403": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/mol-app-v2-report-export": {
      "get": {
        "tags": [
          "Reports"
        ],
        "operationId": "exportReport",
        "parameters": [
          {
            "$ref": "#/components/parameters/DateFrom"
          },
          {
            "$ref": "#/components/parameters/DateTo"
          },
          {
            "name": "format",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "csv",
                "xlsx"
              ],
              "default": "xlsx"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Plik raportu",
            "content": {
              "text/csv": {},
              "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet": {}
            }
          },
          "403": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/mol-app-v2-auth-session": {
      "get": {
        "tags": [
          "Auth"
        ],
        "operationId": "readSession",
        "summary": "Potwierdza aktywną sesję i aktualną rolę bez danych czasu pracy",
        "responses": {
          "200": {
            "description": "Aktywna sesja",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SessionResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Error"
          },
          "503": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/mol-app-v2-attendance-status": {
      "get": {
        "tags": [
          "Attendance"
        ],
        "operationId": "attendanceStatus",
        "description": "Stage 5 confirmed attendance snapshot. correction_id selects Drive proposal preview for LEADER/ADMIN.",
        "parameters": [
          {
            "name": "work_date",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "employee_id",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "correction_id",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Confirmed attendance snapshot or Drive proposal and approved_hash",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "ok",
                    "data",
                    "meta"
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Error"
          },
          "403": {
            "$ref": "#/components/responses/Error"
          },
          "409": {
            "$ref": "#/components/responses/Error"
          },
          "503": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "opaque-session-token"
      }
    },
    "parameters": {
      "Cursor": {
        "name": "cursor",
        "in": "query",
        "schema": {
          "type": "string"
        }
      },
      "Limit": {
        "name": "limit",
        "in": "query",
        "schema": {
          "type": "integer",
          "minimum": 1,
          "maximum": 100,
          "default": 25
        }
      },
      "DateFrom": {
        "name": "date_from",
        "in": "query",
        "required": true,
        "schema": {
          "type": "string",
          "format": "date"
        }
      },
      "DateTo": {
        "name": "date_to",
        "in": "query",
        "required": true,
        "schema": {
          "type": "string",
          "format": "date"
        }
      }
    },
    "requestBodies": {
      "Command": {
        "required": true,
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/CommandRequest"
            }
          }
        }
      },
      "Process": {
        "required": true,
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ProcessRequest"
            }
          }
        }
      }
    },
    "pathItems": {
      "AttendanceStart": {
        "post": {
          "tags": [
            "Attendance"
          ],
          "operationId": "startAttendance",
          "requestBody": {
            "required": true,
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AttendanceCommandRequest"
                }
              }
            }
          },
          "responses": {
            "200": {
              "$ref": "#/components/responses/AttendanceOk"
            },
            "409": {
              "$ref": "#/components/responses/Error"
            },
            "502": {
              "$ref": "#/components/responses/Error"
            }
          }
        }
      },
      "AttendanceFinish": {
        "post": {
          "tags": [
            "Attendance"
          ],
          "operationId": "finishAttendance",
          "requestBody": {
            "required": true,
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AttendanceCommandRequest"
                }
              }
            }
          },
          "responses": {
            "200": {
              "$ref": "#/components/responses/AttendanceOk"
            },
            "409": {
              "$ref": "#/components/responses/Error"
            },
            "502": {
              "$ref": "#/components/responses/Error"
            }
          }
        }
      },
      "AttendanceReopen": {
        "post": {
          "tags": [
            "Attendance"
          ],
          "operationId": "reopenAttendance",
          "requestBody": {
            "required": true,
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AttendanceCommandRequest"
                }
              }
            }
          },
          "responses": {
            "200": {
              "$ref": "#/components/responses/AttendanceOk"
            },
            "409": {
              "$ref": "#/components/responses/Error"
            },
            "502": {
              "$ref": "#/components/responses/Error"
            }
          }
        }
      },
      "ProcessStart": {
        "post": {
          "tags": [
            "Processes"
          ],
          "operationId": "startProcess",
          "requestBody": {
            "$ref": "#/components/requestBodies/Process"
          },
          "responses": {
            "200": {
              "$ref": "#/components/responses/ProcessOk"
            },
            "409": {
              "$ref": "#/components/responses/Error"
            }
          }
        }
      },
      "ProcessChange": {
        "post": {
          "tags": [
            "Processes"
          ],
          "operationId": "changeProcess",
          "requestBody": {
            "$ref": "#/components/requestBodies/Process"
          },
          "responses": {
            "200": {
              "$ref": "#/components/responses/ProcessOk"
            },
            "409": {
              "$ref": "#/components/responses/Error"
            }
          }
        }
      },
      "ProcessLogout": {
        "post": {
          "tags": [
            "Processes"
          ],
          "operationId": "logoutProcess",
          "requestBody": {
            "$ref": "#/components/requestBodies/Command"
          },
          "responses": {
            "200": {
              "$ref": "#/components/responses/ProcessOk"
            },
            "409": {
              "$ref": "#/components/responses/Error"
            }
          }
        }
      }
    },
    "responses": {
      "HealthOk": {
        "description": "Serwis dostępny",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/HealthResponse"
            }
          }
        }
      },
      "ObjectOk": {
        "description": "Sukces",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ObjectResponse"
            }
          }
        }
      },
      "ListOk": {
        "description": "Lista stronicowana",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ListResponse"
            }
          }
        }
      },
      "CommandOk": {
        "description": "Komenda wykonana lub zwrócona z cache idempotencji",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ObjectResponse"
            }
          }
        }
      },
      "AttendanceOk": {
        "description": "Potwierdzony stan obecności",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/AttendanceResponse"
            }
          }
        }
      },
      "ProcessOk": {
        "description": "Potwierdzony stan procesu",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ProcessResponse"
            }
          }
        }
      },
      "NormOk": {
        "description": "Norma ze stanem świeżości",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/NormResponse"
            }
          }
        }
      },
      "Error": {
        "description": "Błąd zgodny ze wspólnym formatem",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      }
    },
    "schemas": {
      "RequestId": {
        "type": "string",
        "format": "uuid"
      },
      "CommandRequest": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "request_id"
        ],
        "properties": {
          "request_id": {
            "$ref": "#/components/schemas/RequestId"
          }
        }
      },
      "LoginRequest": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "request_id",
          "login",
          "password"
        ],
        "properties": {
          "request_id": {
            "$ref": "#/components/schemas/RequestId"
          },
          "login": {
            "type": "string",
            "minLength": 1,
            "maxLength": 100
          },
          "password": {
            "type": "string",
            "minLength": 1,
            "maxLength": 200
          }
        }
      },
      "LoginResponse": {
        "allOf": [
          {
            "$ref": "#/components/schemas/BaseSuccess"
          },
          {
            "type": "object",
            "required": [
              "data"
            ],
            "properties": {
              "data": {
                "type": "object",
                "required": [
                  "session_token",
                  "expires_at",
                  "user"
                ],
                "properties": {
                  "session_token": {
                    "type": "string"
                  },
                  "expires_at": {
                    "type": "string",
                    "format": "date-time"
                  },
                  "user": {
                    "$ref": "#/components/schemas/User"
                  }
                }
              }
            }
          }
        ]
      },
      "ProcessRequest": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "request_id",
          "process_code"
        ],
        "properties": {
          "request_id": {
            "$ref": "#/components/schemas/RequestId"
          },
          "process_code": {
            "type": "string",
            "minLength": 1,
            "maxLength": 50
          }
        }
      },
      "AttendanceCorrectionRequest": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "request_id",
          "work_date",
          "reason",
          "expected_version"
        ],
        "properties": {
          "request_id": {
            "$ref": "#/components/schemas/RequestId"
          },
          "work_date": {
            "type": "string",
            "format": "date"
          },
          "start_at": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          },
          "stop_at": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          },
          "reason": {
            "type": "string",
            "minLength": 3,
            "maxLength": 500
          },
          "expected_version": {
            "type": "integer",
            "minimum": 0
          },
          "employee_id": {
            "type": "string",
            "pattern": "^MOL[0-9]+$"
          }
        },
        "anyOf": [
          {
            "required": [
              "start_at"
            ]
          },
          {
            "required": [
              "stop_at"
            ]
          }
        ]
      },
      "MessageAckRequest": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "request_id",
          "message_id"
        ],
        "properties": {
          "request_id": {
            "$ref": "#/components/schemas/RequestId"
          },
          "message_id": {
            "type": "string"
          }
        }
      },
      "LeaderMessageRequest": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "request_id",
          "recipient_ids",
          "content"
        ],
        "properties": {
          "request_id": {
            "$ref": "#/components/schemas/RequestId"
          },
          "recipient_ids": {
            "type": "array",
            "minItems": 1,
            "items": {
              "type": "string"
            }
          },
          "content": {
            "type": "string",
            "minLength": 1,
            "maxLength": 2000
          },
          "ack_required": {
            "type": "boolean",
            "default": false
          },
          "valid_until": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          }
        }
      },
      "User": {
        "type": "object",
        "required": [
          "employee_id",
          "display_name",
          "role"
        ],
        "properties": {
          "employee_id": {
            "type": "string"
          },
          "display_name": {
            "type": "string"
          },
          "role": {
            "type": "string",
            "enum": [
              "WORKER",
              "LEADER",
              "ADMIN"
            ]
          }
        }
      },
      "Attendance": {
        "type": "object",
        "required": [
          "work_date",
          "state",
          "version",
          "moniti_sync",
          "drive_sync"
        ],
        "properties": {
          "work_date": {
            "type": "string",
            "format": "date"
          },
          "state": {
            "type": "string",
            "enum": [
              "NOT_STARTED",
              "OPEN",
              "CLOSED"
            ]
          },
          "start_at": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          },
          "stop_at": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          },
          "version": {
            "type": "integer",
            "minimum": 0
          },
          "moniti_sync": {
            "$ref": "#/components/schemas/SyncState"
          },
          "drive_sync": {
            "$ref": "#/components/schemas/SyncState"
          },
          "correction_required": {
            "type": "boolean",
            "default": false
          }
        }
      },
      "ProcessState": {
        "type": "object",
        "required": [
          "state"
        ],
        "properties": {
          "state": {
            "type": "string",
            "enum": [
              "NONE",
              "ACTIVE"
            ]
          },
          "process_session_id": {
            "type": [
              "string",
              "null"
            ]
          },
          "process_code": {
            "type": [
              "string",
              "null"
            ]
          },
          "start_at": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          }
        }
      },
      "Norm": {
        "type": "object",
        "required": [
          "freshness",
          "calculated_at"
        ],
        "properties": {
          "pak_percent": {
            "type": [
              "number",
              "null"
            ]
          },
          "pick_percent": {
            "type": [
              "number",
              "null"
            ]
          },
          "combined_percent": {
            "type": [
              "number",
              "null"
            ]
          },
          "reason": {
            "type": [
              "string",
              "null"
            ]
          },
          "freshness": {
            "type": "string",
            "enum": [
              "FRESH",
              "STALE",
              "UNAVAILABLE"
            ]
          },
          "calculated_at": {
            "type": "string",
            "format": "date-time"
          },
          "version": {
            "type": "integer",
            "minimum": 0
          }
        }
      },
      "WorkerStatus": {
        "type": "object",
        "required": [
          "user",
          "attendance",
          "process",
          "norm",
          "unread_messages",
          "snapshot_version",
          "calculated_at"
        ],
        "properties": {
          "user": {
            "$ref": "#/components/schemas/User"
          },
          "attendance": {
            "$ref": "#/components/schemas/Attendance"
          },
          "process": {
            "$ref": "#/components/schemas/ProcessState"
          },
          "norm": {
            "$ref": "#/components/schemas/Norm"
          },
          "unread_messages": {
            "type": "integer",
            "minimum": 0
          },
          "process_seconds": {
            "type": "integer",
            "minimum": 0
          },
          "between_process_seconds": {
            "type": "integer",
            "minimum": 0
          },
          "snapshot_version": {
            "type": "integer",
            "minimum": 0
          },
          "calculated_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "SyncState": {
        "type": "string",
        "enum": [
          "NOT_REQUIRED",
          "PENDING",
          "SYNCED",
          "FAILED"
        ]
      },
      "Meta": {
        "type": "object",
        "required": [
          "api_version",
          "server_time"
        ],
        "properties": {
          "api_version": {
            "const": "2.0"
          },
          "server_time": {
            "type": "string",
            "format": "date-time"
          },
          "next_cursor": {
            "type": [
              "string",
              "null"
            ]
          }
        }
      },
      "BaseSuccess": {
        "type": "object",
        "required": [
          "ok",
          "request_id",
          "meta"
        ],
        "properties": {
          "ok": {
            "const": true
          },
          "request_id": {
            "$ref": "#/components/schemas/RequestId"
          },
          "meta": {
            "$ref": "#/components/schemas/Meta"
          }
        }
      },
      "ObjectResponse": {
        "allOf": [
          {
            "$ref": "#/components/schemas/BaseSuccess"
          },
          {
            "type": "object",
            "required": [
              "data"
            ],
            "properties": {
              "data": {
                "type": "object"
              }
            }
          }
        ]
      },
      "ListResponse": {
        "allOf": [
          {
            "$ref": "#/components/schemas/BaseSuccess"
          },
          {
            "type": "object",
            "required": [
              "data"
            ],
            "properties": {
              "data": {
                "type": "array",
                "items": {}
              }
            }
          }
        ]
      },
      "AttendanceResponse": {
        "allOf": [
          {
            "$ref": "#/components/schemas/BaseSuccess"
          },
          {
            "type": "object",
            "required": [
              "data"
            ],
            "properties": {
              "data": {
                "type": "object",
                "required": [
                  "attendance",
                  "snapshot_version"
                ],
                "properties": {
                  "attendance": {
                    "$ref": "#/components/schemas/Attendance"
                  },
                  "snapshot_version": {
                    "type": "integer",
                    "minimum": 1
                  }
                }
              }
            }
          }
        ]
      },
      "ProcessResponse": {
        "allOf": [
          {
            "$ref": "#/components/schemas/BaseSuccess"
          },
          {
            "type": "object",
            "required": [
              "data"
            ],
            "properties": {
              "data": {
                "$ref": "#/components/schemas/ProcessState"
              }
            }
          }
        ]
      },
      "NormResponse": {
        "allOf": [
          {
            "$ref": "#/components/schemas/BaseSuccess"
          },
          {
            "type": "object",
            "required": [
              "data"
            ],
            "properties": {
              "data": {
                "$ref": "#/components/schemas/Norm"
              }
            }
          }
        ]
      },
      "WorkerStatusResponse": {
        "allOf": [
          {
            "$ref": "#/components/schemas/BaseSuccess"
          },
          {
            "type": "object",
            "required": [
              "data"
            ],
            "properties": {
              "data": {
                "$ref": "#/components/schemas/WorkerStatus"
              }
            }
          }
        ]
      },
      "HealthResponse": {
        "type": "object",
        "required": [
          "ok",
          "service",
          "version",
          "environment",
          "writes_enabled"
        ],
        "properties": {
          "ok": {
            "const": true
          },
          "service": {
            "const": "MOL_APP_V2"
          },
          "version": {
            "type": "string"
          },
          "environment": {
            "type": "string"
          },
          "writes_enabled": {
            "type": "boolean"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "required": [
          "ok",
          "request_id",
          "error",
          "meta"
        ],
        "properties": {
          "ok": {
            "const": false
          },
          "request_id": {
            "$ref": "#/components/schemas/RequestId"
          },
          "error": {
            "type": "object",
            "required": [
              "code",
              "message",
              "retryable",
              "details"
            ],
            "properties": {
              "code": {
                "type": "string"
              },
              "message": {
                "type": "string"
              },
              "retryable": {
                "type": "boolean"
              },
              "details": {
                "type": "object"
              }
            }
          },
          "meta": {
            "$ref": "#/components/schemas/Meta"
          }
        }
      },
      "SessionResponse": {
        "allOf": [
          {
            "$ref": "#/components/schemas/BaseSuccess"
          },
          {
            "type": "object",
            "required": [
              "data"
            ],
            "properties": {
              "data": {
                "type": "object",
                "required": [
                  "expires_at",
                  "user"
                ],
                "properties": {
                  "expires_at": {
                    "type": "string",
                    "format": "date-time"
                  },
                  "user": {
                    "$ref": "#/components/schemas/User"
                  }
                }
              }
            }
          }
        ]
      },
      "AttendanceCommandRequest": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "request_id",
          "work_date",
          "expected_version"
        ],
        "properties": {
          "request_id": {
            "$ref": "#/components/schemas/RequestId"
          },
          "work_date": {
            "type": "string",
            "format": "date"
          },
          "expected_version": {
            "type": "integer",
            "minimum": 0
          },
          "employee_id": {
            "type": "string",
            "pattern": "^MOL[0-9]+$"
          }
        }
      },
      "SheetApprovalRequest": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "request_id",
          "correction_id",
          "approved_hash"
        ],
        "properties": {
          "request_id": {
            "$ref": "#/components/schemas/RequestId"
          },
          "correction_id": {
            "type": "string",
            "format": "uuid"
          },
          "approved_hash": {
            "type": "string",
            "pattern": "^[0-9a-f]{64}$"
          }
        },
        "description": "request_id equals correction_id; LEADER/ADMIN approval of the exact previewed proposal."
      },
      "AttendanceWriteRequest": {
        "type": "object",
        "required": [
          "request_id"
        ],
        "oneOf": [
          {
            "$ref": "#/components/schemas/AttendanceCorrectionRequest"
          },
          {
            "$ref": "#/components/schemas/SheetApprovalRequest"
          }
        ]
      }
    }
  },
  "security": [
    {
      "bearerAuth": []
    }
  ]
}
